.principle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;
    
    background: rgb(96, 130, 182, 0.9)
}

.login-title {
    font-size: xx-large;
    font-weight: bold;
    color: white;
}

.login-subtitle {
    font-size: x-large;
    color: white;
}

.login-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    min-width: fit-content;
    width: 10em;
    height: fit-content;

    background-color: #9eb7d6;
}

.login-input:not(:last-child) {
    border-width: 0;
    border-radius: 0.2em;
    padding: 0.3em;
}

.login-button {
    border: none;
    border-radius: 0.5em;
    padding: 0.5em 1em;

    font-size: large;
    font-weight: bold;
    color: white;
    background-color: #9eb7d6;
    transition: all 0.5s ease;
    cursor: pointer;
}

.login-button:hover {
    background-color: #8ca9cf;
}

.login-message {
    height: 1em;
    color: white;
}